<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenlibao.pms.mapper.system.RequestLogMapper" >

  <select id="selectView" parameterType="com.fenlibao.pms.dto.req.system.RequestLogReq" resultType="com.fenlibao.pms.dto.resp.system.RequestLogRespBody">
    SELECT rl.create_time as createTime,u.user_name as userName,
      u.real_name as realName,rl.ip as ip,rl.url as url,rl.cost_time as costTime
    FROM v2_pms.`idmt_request_log` rl
    LEFT JOIN v2_pms.`idmt_user` u on (rl.user_id=u.id)
    <where>
      <if test="userName!=null">
        AND u.user_name=#{userName}
      </if>
      <if test="realName!=null">
        AND u.realName=#{realName}
      </if>
      <if test="startTime!=null ">
        rl.create_time>=#{startTime}
      </if>
      <if test="startTime!=null ">
        #{endTime}>=rl.create_time
      </if>
    </where>
  </select>

</mapper>