<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenlibao.pms.mapper.system.RolePermissionDao">

    <resultMap id="rolePermissionBasicMap" type="com.fenlibao.pms.model.po.idmt.RolePermissionPO">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="permission_id" property="permissionId"/>
        <result column="create_time" property="createTime"/>
        <association property="permission" column="permission_id"
                     select="com.fenlibao.common.core.mapper.system.PermissionDao.selectById"/>
    </resultMap>

    <sql id="rolePermissionBasicSql">
        SELECT id, role_id, permission_id, create_time
        FROM idmt_role_permission
    </sql>
    
    <select id="selectByRoleId" resultMap="rolePermissionBasicMap">
        <include refid="rolePermissionBasicSql"/>
        WHERE role_id = #{roleId}
    </select>
</mapper>